{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
<div class="top">
  <h1>
    <a href="/">Zen Habits</a>
  </h1>
</div>

  {% include "pagination.html" with page=posts %}

  {% for post in posts %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p class="date">Published {{ post.publish.date }} by Leo Babauta</p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
  
  {% include "pagination.html" with page=posts %}
{% endblock %}
